<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sn.diotali.tfe_usager_dgid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".InfoTimbreFinishActivity"></activity>
        <activity android:name=".CodeSmsPwdActivity"></activity>
        <activity android:name=".FinishActivity" />
        <activity android:name=".PwdOublieActivity" />
        <activity android:name=".ModifierPwdActivity" />
        <activity android:name=".ReinitialiserPwdActivity" />
        <activity android:name=".InfoTimbreActivity" />
        <activity android:name=".InfoCompteActivity" />
        <activity android:name=".NavBarActivity" />
        <activity android:name=".HistoriqueActivity" />
        <activity android:name=".PaiementMobileActivity" />
        <activity android:name=".ModePaiementActivity" />
        <activity android:name=".CodeSmsActivity" />
        <activity android:name=".InscriptionActivity" />
        <activity android:name=".DiotaliLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsererMontantActivity" />
        <activity android:name=".AutreMontantActivity" />
        <activity android:name=".AccueilActivity" />
        <activity android:name=".TfeMenu" />
        <activity android:name=".TfeTimbreActivity" />
        <activity android:name=".TfeQuittanceActivity" />
        <activity android:name=".DetailsQuittanceActivity" />
        <activity android:name=".ValidationAchatTimbreActivity" />
        <activity android:name=".ValidationAchatQuittanceActivity" />
    </application>

</manifest>